.add-task{
    padding: 15px 20px;
    border: solid 1px #fff;
    border-radius: 30px;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: $ftBold;
    color: #fff;
    background: rgb(85,239,196);
    background: linear-gradient(90deg, rgba(85,239,196,1) 0%, rgba(255,234,167,1) 65%, rgba(255,118,117,1) 100%);
    transition: 0.4s ease-in all;
    &:hover{
        box-shadow:  20px 20px 60px #d9d9d9, 
                    -20px -20px 60px #ffffff;
    }
}